In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("train.csv")

##**Train.csv**

Customer_ID:Unique ID for the customer 

Gender:Gender of the Customer

Age:Age of the Customer (in Years)

Vintage:Vintage for the Customer (In Months)

Is_Active:Activity Index, 0 :  Less frequent customer, 1 : More frequent customer

City_Category:Encoded Category of customer's city

Customer_Category:Encoded Category of the customer

Product_Holding_B1:Current Product Holding (Encoded)

Product_Holding_B2 :Product Holding in next six months (Encoded) - Target Column

 

##**Test.csv**

Customer_ID:Unique ID for the customer 

Gender:Gender of the Customer

Age:Age of the Customer (in Years)

Vintage:Vintage for the Customer (In Months)

Is_Active:Activity Index, 0 :  Less frequent customer, 1 : More frequent customer

City_Category:Encoded Category of customer's city

Customer_Category:Encoded Category of the customer

Product_Holding_B1:Current Product Holding (Encoded)

In [3]:
df.head()

  Customer_ID  Gender  ...     Product_Holding_B1  Product_Holding_B2
0    CC264719    Male  ...                ['P16']              ['P8']
1    CC209679  Female  ...         ['P13', 'P20']              ['P3']
2    CC319633  Female  ...                ['P11']             ['P00']
3    CC231413  Female  ...          ['P8', 'P13']              ['P6']
4    CC259633    Male  ...  ['P16', 'P17', 'P21']       ['P8', 'P12']

[5 rows x 9 columns]

Target variable conversion

In [4]:
def upper(x):
  column=[]
  for i in x:
    column.append(i.upper())
  return column

In [5]:
from sklearn.feature_extraction.text import CountVectorizer
vector=CountVectorizer()
x=vector.fit_transform(df.Product_Holding_B2.str.join(''))
target=pd.DataFrame(x.toarray(),columns=upper(vector.get_feature_names()))

In [6]:
target.head()

   P00  P1  P10  P11  P12  P13  P14  P15  ...  P20  P3  P4  P5  P6  P7  P8  P9
0    0   0    0    0    0    0    0    0  ...    0   0   0   0   0   0   1   0
1    0   0    0    0    0    0    0    0  ...    0   1   0   0   0   0   0   0
2    1   0    0    0    0    0    0    0  ...    0   0   0   0   0   0   0   0
3    0   0    0    0    0    0    0    0  ...    0   0   0   0   1   0   0   0
4    0   0    0    0    1    0    0    0  ...    0   0   0   0   0   0   1   0

[5 rows x 20 columns]

In [7]:
target.head()

   P00  P1  P10  P11  P12  P13  P14  P15  ...  P20  P3  P4  P5  P6  P7  P8  P9
0    0   0    0    0    0    0    0    0  ...    0   0   0   0   0   0   1   0
1    0   0    0    0    0    0    0    0  ...    0   1   0   0   0   0   0   0
2    1   0    0    0    0    0    0    0  ...    0   0   0   0   0   0   0   0
3    0   0    0    0    0    0    0    0  ...    0   0   0   0   1   0   0   0
4    0   0    0    0    1    0    0    0  ...    0   0   0   0   0   0   1   0

[5 rows x 20 columns]

In [8]:
vector2=CountVectorizer()
x=vector2.fit_transform(df.Product_Holding_B1.str.join(''))
data=df.join(pd.DataFrame(x.toarray(), columns=upper(vector2.get_feature_names())))

In [9]:
data.head()

  Customer_ID  Gender  Age  Vintage  Is_Active  ... P5 P6 P7 P8  P9
0    CC264719    Male   41       14          0  ...  0  0  0  0   0
1    CC209679  Female   47       14          1  ...  0  0  0  0   0
2    CC319633  Female   59       14          0  ...  0  0  0  0   0
3    CC231413  Female   32       16          0  ...  0  0  0  1   0
4    CC259633    Male   30       15          0  ...  0  0  0  0   0

[5 rows x 31 columns]

In [10]:
data.isna().sum()

Customer_ID           0
Gender                0
Age                   0
Vintage               0
Is_Active             0
City_Category         0
Customer_Category     0
Product_Holding_B1    0
Product_Holding_B2    0
P00                   0
P1                    0
P10                   0
P11                   0
P12                   0
P13                   0
P14                   0
P15                   0
P16                   0
P17                   0
P18                   0
P19                   0
P2                    0
P20                   0
P21                   0
P3                    0
P4                    0
P5                    0
P6                    0
P7                    0
P8                    0
P9                    0
dtype: int64

In [11]:
#dropping unwanted columns and Target variable 
unwanted_columns = ["Customer_ID","Product_Holding_B1","Product_Holding_B2"]
data.drop(unwanted_columns,axis=1,inplace=True)

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37748 entries, 0 to 37747
Data columns (total 28 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             37748 non-null  object
 1   Age                37748 non-null  int64
 2   Vintage            37748 non-null  int64
 3   Is_Active          37748 non-null  int64
 4   City_Category      37748 non-null  object
 5   Customer_Category  37748 non-null  object
 6   P00                37748 non-null  int64
 7   P1                 37748 non-null  int64
 8   P10                37748 non-null  int64
 9   P11                37748 non-null  int64
 10  P12                37748 non-null  int64
 11  P13                37748 non-null  int64
 12  P14                37748 non-null  int64
 13  P15                37748 non-null  int64
 14  P16                37748 non-null  int64
 15  P17                37748 non-null  int64
 16  P18                37748 non-null  int64
 17  P19                37748 non-null  int64
 18  P2                 37748 non-null  int64
 19  P20                37748 non-null  int64
 20  P21                37748 non-null  int64
 21  P3                 37748 non-null  int64
 22  P4                 37748 non-null  int64
 23  P5                 37748 non-null  int64
 24  P6                 37748 non-null  int64
 25  P7                 37748 non-null  int64
 26  P8                 37748 non-null  int64
 27  P9                 37748 non-null  int64
dtypes: int64(25), object(3)
memory usage: 8.1+ MB

In [13]:
final_data=pd.get_dummies(data,drop_first=True)

In [14]:
final_data.head()

   Age  Vintage  ...  Customer_Category_S2  Customer_Category_S3
0   41       14  ...                     0                     1
1   47       14  ...                     1                     0
2   59       14  ...                     1                     0
3   32       16  ...                     1                     0
4   30       15  ...                     0                     1

[5 rows x 29 columns]

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.multiclass import OneVsRestClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score

In [16]:
X_train, X_test, y_train, y_test = train_test_split(final_data,target, test_size=0.33, random_state=42)

In [18]:
from sklearn.ensemble import RandomForestClassifier
rfc=OneVsRestClassifier(RandomForestClassifier(criterion="gini",n_estimators=700,))
rfc.fit(final_data,target)
rfc.score(X_test,y_test)

0.8934735490085896

In [ ]:

from sklearn.multioutput import MultiOutputClassifier
model2=MultiOutputClassifier(XGBClassifier(base_score=0.5, booster='gbtree',
                                            colsample_bylevel=1,
                                            colsample_bynode=1,
                                            colsample_bytree=1, gamma=1,
                                            learning_rate=0.1, max_delta_step=0,
                                            max_depth=3, min_child_weight=1,
                                            missing=None, n_estimators=100,
                                            n_jobs=1, nthread=None,
                                            objective='binary:logistic',
                                            random_state=0, reg_alpha=0,
                                            reg_lambda=1, scale_pos_weight=1,
                                            seed=None, silent=None, subsample=0.8,
                                            verbosity=1))
model2.fit(X_train,y_train)
pred=model2.predict(X_test)
accuracy_score(pred,y_test)

In [ ]:
model=OneVsRestClassifier(XGBClassifier(base_score=0.9, booster='gbtree',
                                            colsample_bylevel=1,
                                            colsample_bynode=1,
                                            colsample_bytree=1, gamma=1,
                                            learning_rate=0.1, max_delta_step=0,
                                            max_depth=7, min_child_weight=1,
                                            missing=None, n_estimators=500,
                                            n_jobs=1, nthread=None,
                                            objective='binary:logistic',
                                            random_state=0, reg_alpha=0,
                                            reg_lambda=1, scale_pos_weight=1,
                                            seed=None, silent=None, subsample=0.8,
                                            verbosity=1))
model.fit(X_train,y_train)

In [ ]:

pred=model.predict(X_test)
accuracy_score(pred,y_test)

In [ ]:
#output=vector.inverse_transform(pred)

In [ ]:
model.fit(final_data,target)

In [19]:
test=pd.read_csv("test.csv")
customerid=test.Customer_ID
test.drop("Customer_ID",inplace=True,axis=1)

In [20]:
test_vec=vector2.transform(test.Product_Holding_B1)
test = test.join(pd.DataFrame(test_vec.toarray(),columns=upper(vector2.get_feature_names())))

In [ ]:
test.head()

In [21]:
test.drop("Product_Holding_B1",inplace=True,axis=1)
test=pd.get_dummies(test,drop_first=True)

In [32]:
output=rfc.predict_proba(test)

In [23]:
submission_file=pd.DataFrame()
submission_file["Customer_ID"]=customerid
submission_file["Product_Holding_B2"]=output

In [24]:
def convert(x):
  li=[]
  for i in x:
    li.append(str(i).upper())
  return li

In [25]:
output1=submission_file.Product_Holding_B2
out=output1.apply(convert)
submission_file["Product_Holding_B2"]=out

In [26]:
submission_file.set_index("Customer_ID",inplace=True)

In [27]:
out=submission_file["Product_Holding_B2"]

In [28]:
names=vector.get_feature_names()
feature_names=upper(names)

In [31]:
import numpy as np

def top_three_products(x,feature_names):
  li=[]
  for i in x:
    list_=[]
    for j in range(3):
      i=list(i)
      value=np.max(i)
      index_num=np.argmax(i)
      list_.append(feature_names[int(index_num)])
      i.remove(value)
    li.append(list_)
  return li

In [33]:
prob=output
predictions=top_three_products(prob,feature_names)

In [ ]:
len(predictions)

In [34]:
submission_file["Product_Holding_B2"]=predictions

In [35]:
submission_file.to_csv("/content/drive/MyDrive/Colab Notebooks/final_submission.csv")

In [36]:
submission_file

            Product_Holding_B2
Customer_ID
CC372708         [P8, P10, P1]
CC216072          [P8, P1, P3]
CC387629        [P13, P15, P1]
CC389228         [P8, P8, P12]
CC394445         [P00, P6, P6]
...                        ...
CC303542          [P8, P4, P5]
CC266713         [P8, P12, P6]
CC393639         [P00, P8, P5]
CC285013          [P1, P5, P5]
CC274657          [P8, P3, P5]

[20327 rows x 1 columns]